body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
}

.email-container {
    background-color: #dce7f1;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card-header {
    background: linear-gradient(to bottom, #174615, #09062f);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    text-align: center;
}

p {
    margin-top: 20px;
    text-align: center;
}

.header {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.footer {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

.card-footer {
    background: linear-gradient(to bottom, #09062f, #174615);
    padding: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

.table-container {
    overflow: auto;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #09062f;
}

th {
    background-color: #f2f2f2;
}
